* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: none;
}
html{
  scroll-behavior: smooth;
}



.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.nav {
  position: fixed;
  bottom: 20px;
  width: 300px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
}

.nav ul {
  display: flex;
  width: 85%;
  align-items: center;
}

.nav ul li {
  /* display: flex; */
  margin: 0px 14px;
  list-style-type: none;
  display: flex;
  /* width: 70px; */
}

.nav ul li a {
  text-decoration: none;
}

.nav ul span {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
}

.icon {
  position: relative;
  display: block;
  /* line-height: 75px; */
  height: 35px;
  align-items: center;
  transition: 0.5s;
  color: #222327;
  padding-top: 15px;
  transition: 0.5s;
}

.nav ul li.active a .icon {
  transform: translateY(-30px);
}

.nav ul li.active a .text {
  transform: translateY(-10px);
  opacity: 1;
}

.text {
  font-weight: 500;
  font-size: 15px;
  transition: 0.5s;
  opacity: 0;
  color: #222327;
}

.indicator {
  width: 60px;
  height: 60px;
  background-color: #29fd53;
  position: absolute;
  top: -60%;
  border-radius: 50%;
  z-index: 2;
  border: 5px solid black;
  transition: 0.5s;
}

.indicator::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 27.9px;
  left: -18px;
  border-top-right-radius: 20px;
  box-shadow: black 1.2px -5px 0px 0.5px;
}
.indicator::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 27.9px;
  left: 49.1px;
  border-top-left-radius: 20px;
  box-shadow: black -1px -6px 0px 0.5px;
}

.nav ul li:nth-child(1).active ~ .indicator {
  transform: translateX(0px);
}
.nav ul li:nth-child(2).active ~ .indicator {
  transform: translateX(61.5px);
}
.nav ul li:nth-child(3).active ~ .indicator {
  transform: translateX(128px);
}
.nav ul li:nth-child(4).active ~ .indicator {
  transform: translateX(197px);
}


